.incentive-management-submodule .border {
    background: #f8fafc;
}

.incentive-management-submodule h5 {
    font-weight: 700;
}

.incentive-management-submodule p {
    font-size: 0.9rem;
}
