.reimbursement-processing-submodule .border {
    background: #f8fafc;
}

.reimbursement-processing-submodule h5 {
    font-weight: 700;
}

.reimbursement-processing-submodule p {
    font-size: 0.9rem;
}
