.organizational-structure-submodule .border {
    background: #f8fafc;
}

.organizational-structure-submodule h5 {
    font-weight: 700;
}

.organizational-structure-submodule p {
    font-size: 0.9rem;
}
